<section id = "bottom-container">
    <div class = "bottom-button-container">
        <button id = "clear-button" class = "bottom-buttons">CLEAR</button>
        <button id = "save-button" class = "bottom-buttons">SAVE</button>
    </div>
</section>
