<header>
  <div class="header-image-container">
     <i class="far fa-edit"></i>
  </div>
  <div class="header-title-container">
     <h1 class="site-title"><a href="./">Note++</a></h1>
  </div>
</header>
