<div class="subnote">
    <div class="template-icon-container">
        <img class="template-icon" src="icons/{{note.iconName}}.png" alt="outline">
     </div>
    <textarea class="subnote-description">
       {{note.noteDescription}}
     </textarea>
 </div> 