<div class="subnote">
    <div class="template-icon-container">
        <img class="template-icon" src="/icons/{{iconName}}.png" alt="{{typeName}}">
     </div>
    <textarea class="subnote-description">{{noteDescription}}</textarea>
 </div> 
