<aside class = "text-button-container">
    <div class = "text-button-div">
        <button id = "notepad-button-one" class = "notepad-button">Notepad 1</button>
        <button id = "notepad-button-two" class = "notepad-button">Notepad 2</button>
        <button id = "notepad-button-three" class = "notepad-button">Notepad 3</button>
        <button id = "notepad-button-four" class = "notepad-button">Notepad 4</button>
        <button id = "add-button" class = "notepad-button"> Add</button>
    </div>
</aside>

