<main class="content">
   <h2>Your Drawings</h2>
   
   <div class="drawings-list">
      {{#each this}}
         {{> drawingListItem }}
      {{/each}}

   </div>
   <div class="new-drawing-button-container">
      <button type="button" id="new-drawing">
         <i class="fa fa-plus"></i>
      </button>
   </div>

</main>

