<main class="content">
   <h2>Your Drawings</h2>
   
   <div class="drawings-list">
      {{#each drawingData}}
         {{> drawingListItem }}

      {{/each}}

   </div>
   <div class="new-drawing-button-container">
      <button type="button" id="new-drawing">
         <a href="/drawings"><i class="fa fa-plus"></i></a>
      </button>
   </div>

</main>

