<main class="content">
    <div class="drawing-name-container">
        <textarea id="name-textarea">{{name}}</textarea>
    </div>
    <div class="drawing-container">
        <canvas id="drawing" width="1000" height="600"></canvas>
       
        <script type="text/javascript">
            var currentDrawing = '{{body}}';
        </script>

    </div>

</main>
