<body class = "content">
    
    {{> textButtonContainer}}

    <section id = "textbox-container" class="">
        <div class = "textbox-div">
            <form id = "textbox-form">
                <h3>Notepad</h1>
                <input type = "text" id = "textbox">
            </form>
        </div>
    </section>
    <section id = "textbox-container1" class="hidden">
        <div class = "textbox-div">
            <form id = "textbox-form1">
                <h3>Notepad</h1>
                <input type = "hidden-text1" id = "textbox">
            </form>
        </div>
    </section>
    <section id = "textbox-container2" class="hidden">
        <div class = "textbox-div">
            <form id = "textbox-form2">
                <h3>Notepad</h1>
                <input type = "hidden-text2" id = "textbox">
            </form>
        </div>
    </section>
    <section id = "textbox-container3" class="hidden">
        <div class = "textbox-div">
            <form id = "textbox-form3">
                <h3>Notepad</h1>
                <input type = "hidden-text3" id = "textbox">
            </form>
        </div>
    </section>
    <section id = "textbox-container4" class="hidden">
        <div class = "textbox-div">
            <form id = "textbox-form4">
                <h3>Notepad</h1>
                <input type = "hidden-text4" id = "textbox">
            </form>
        </div>
    </section>
    
    {{> bottomContainer}}

</body>
